*{
    margin: 0;
}
body{
    margin: 0px;
    background-image: url('https://iammagnus.com/wp-content/uploads/2016/05/website-design-background-1.jpg');
    background-repeat: no-repeat;
    background-attachment:  fixed; 
    background-position: center;
    color:  white;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav li{
    float: left;
}

.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 24px 28px;
    text-decoration: none;
}

.topnav li a:hover:not(.active){
    background-color: #111;
}

.active{
    background-color: #4CAF50
}

img{
    width: 400px;
    height: 340px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}



.bottomnav ul{
    list-style-type: none;
    background-color: rgb(209, 209, 209)!important;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
   
    
}

.bottomnav li{
    float: left;
    margin-top: 5px;
}

*.fa-github{
    color: #333;
    margin-left: 4.85em;
   
}

*.fa-linkedin-square{
    color: #333;
    margin-left: 4.85em;
}

*.fa-envelope{
    color: #333;
    margin-left: 4.85em;
}

*.fa-apple{
    color: #333;
    margin-left: 4.85em;
}

.intro{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
    padding-bottom: 500px;
}


@media only screen and (max-width: 960px) {
    *.fa-github{
        color: #333;
        margin-left: 2em;
    }
    
    *.fa-linkedin-square{
        color: #333;
        margin-left: 2em;
    }
    
    *.fa-envelope{
        color: #333;
        margin-left: 2em;
    }

    *.fa-apple{
        color: #333;
        margin-left: 2em;
    }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
    *.fa-github{
        color: #333;
        margin-left: 1em;
    }
    
    *.fa-linkedin-square{
        color: #333;
        margin-left: 1em;
    }
    
    *.fa-envelope{
        color: #333;
        margin-left: 1em;
    }

    *.fa-apple{
        color: #333;
        margin-left: 1em;
    }
}