*{
    margin: 0;
}
body{
    margin: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 24px 28px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}

.active{
    background-color: #4CAF50
}

img{
    width: 400px;
    height: 340px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}



.bottomnav ul{
    list-style-type: none;
    background-color: rgb(209, 209, 209)!important;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
}

.intro{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
    padding-bottom: 500px;
}


